<div class="w-full h-full">
  <mat-accordion displayMode="flat" multi>
    <mat-expansion-panel class="!bg-transparent" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>Sensor Data</mat-panel-title>
      </mat-expansion-panel-header>

      <div class="w-full h-full grid grid-cols-1 lg:grid-cols-2 gap-4 items-center">
        <div>
          <canvas class="w-full h-full" width="16" height="9" #canvasTemperature></canvas>
        </div>
        <div>
          <canvas class="w-full h-full" width="16" height="9" #canvasHumidity></canvas>
        </div>
        <div>
          <canvas class="w-full h-full" width="16" height="9" #canvasPressure></canvas>
        </div>
        <div>
          <canvas class="w-full h-full" width="16" height="9" #canvasGasResistance></canvas>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="!bg-transparent" [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-title>Device Info</mat-panel-title>
      </mat-expansion-panel-header>

      <form class="w-full grid grid-cols-1 md:grid-cols-2 gap-4">
        <mat-form-field class="w-full" color="accent" subscriptSizing="dynamic">
          <mat-label>ID</mat-label>
          <input matInput type="text" placeholder="ID" name="id" [ngModel]="deviceId" readonly />
        </mat-form-field>

        <mat-form-field class="w-full" color="accent" subscriptSizing="dynamic">
          <mat-label>Name</mat-label>
          <input matInput type="text" placeholder="Name" name="name" [ngModel]="deviceInfo?.name" readonly />
        </mat-form-field>
      </form>
    </mat-expansion-panel>

    <mat-expansion-panel class="!bg-transparent" [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-title>Actions</mat-panel-title>
      </mat-expansion-panel-header>

      <div class="w-full grid grid-cols-1 md:grid-cols-4 gap-4">
        <button mat-raised-button color="primary" (click)="authorizeDevice()">Authorize</button>
        <button mat-raised-button color="primary" (click)="attemptDeleteDevice()">Delete</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<ng-template #dialogAuthorize>
  <h1 mat-dialog-title>Authorize Device</h1>
  <div mat-dialog-content>This is your one-time authorization code: {{ deviceCode }}.</div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Ok</button>
  </div>
</ng-template>

<ng-template #dialogDelete>
  <h1 mat-dialog-title>Delete Device</h1>
  <div mat-dialog-content>Would you like to delete this device? All data associated with this device will be lost!</div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>No</button>
    <button mat-button mat-dialog-close cdkFocusInitial (click)="deleteDevice()">Delete</button>
  </div>
</ng-template>
