<div
  class="w-full grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 items-center gap-0 p-0 md:gap-4 md:p-4 lg:gap-8 lg:p-8"
>
  <app-device-card device="Living Room"></app-device-card>
  <app-device-card device="Kitchen"></app-device-card>
  <app-device-card device="Bath Room"></app-device-card>
  <app-device-card device="Bed Room"></app-device-card>
  <app-device-card device="Office"></app-device-card>
  <app-device-card device="Basement"></app-device-card>
</div>
<div class="flex justify-end items-end fixed bottom-2 right-2">
  <button mat-fab color="primary">
    <mat-icon>add</mat-icon>
  </button>
</div>
