.airsense-background-image {
    background-image: url("/assets/images/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    overflow: hidden;
}

.mat-raised-button.mat-primary {
  color: #f0fff3;
  background-color: #155724;
}
